version: '2'
services:
  db:
    image: mysql:latest
    volumes:
      - "/tmp/mysql-data/db:/var/lib/mysql"
    restart: always
    ports:
      - "3306:3306"
    expose:
      - "3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpw
      MYSQL_DATABASE: devstats
      MYSQL_USER: devstats
      MYSQL_PASSWORD: devstats

